{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Periodic Table</title>
    <link rel="stylesheet" href="{% static 'elements/styles.css' %}">
</head>

<body>
    <center>
        <h1 class="headingOne">The Periodic Table</h1>
        <table>
            <tr>
                <td class="element">
                    <span class="number">1</span><br/>
                    <span class="letter">H</span><br/>
                    <span class="name">Hydrogen</span>
                </td>
                <td class="noBorder" colspan="16"></td>
                <td class="element">
                    <span class="number">2</span><br/>
                    <span class="letter">He</span><br/>
                    <span class="name">Helium</span>
                </td>
            </tr>
            <tr>
                <td class="element">
                    <span class="number">3</span><br/>
                    <span class="letter">Li</span><br/>
                    <span class="name">Lithium</span>
                </td>
                <td class="element">
                    <span class="number">4</span><br/>
                    <span class="letter">Be</span><br/>
                    <span class="name">Beryllium</span>
                </td>
                <td class="noBorder" colspan="10"></td>
                <td class="element">
                    <span class="number">5</span><br/>
                    <span class="letter">B</span><br/>
                    <span class="name">Boron</span>
                </td>
                <td class="element">
                    <span class="number">6</span><br/>
                    <span class="letter">C</span><br/>
                    <span class="name">Carbon</span>
                </td>
                <td class="element">
                    <span class="number">7</span><br/>
                    <span class="letter">N</span><br/>
                    <span class="name">Nitrogen</span>
                </td>
                <td class="element">
                    <span class="number">8</span><br/>
                    <span class="letter">O</span><br/>
                    <span class="name">Oxygen</span>
                </td>
                <td class="element">
                    <span class="number">9</span><br/>
                    <span class="letter">F</span><br/>
                    <span class="name">Fluorine</span>
                </td>
                <td class="element">
                    <span class="number">10</span><br/>
                    <span class="letter">Ne</span><br/>
                    <span class="name">Neon</span>
                </td>
            </tr>
            <tr>
                <td class="element">
                    <span class="number">11</span><br/>
                    <span class="letter">Na</span><br/>
                    <span class="name">Sodium</span>
                </td>
                <td class="element">
                    <span class="number">12</span><br/>
                    <span class="letter">Mg</span><br/>
                    <span class="name">Magnesium</span>
                </td>
                <td class="noBorder" colspan="10"></td>
                <td class="element">
                    <span class="number">13</span><br/>
                    <span class="letter">Al</span><br/>
                    <span class="name">Aluminum</span>
                </td>
                <td class="element">
                    <span class="number">14</span><br/>
                    <span class="letter">Si</span><br/>
                    <span class="name">Silicon</span>
                </td>
                <td class="element">
                    <span class="number">15</span><br/>
                    <span class="letter">P</span><br/>
                    <span class="name">Phosphorus</span>
                </td>
                <td class="element">
                    <span class="number">16</span><br/>
                    <span class="letter">S</span><br/>
                    <span class="name">Sulfur</span>
                </td>
                <td class="element">
                    <span class="number">17</span><br/>
                    <span class="letter">Cl</span><br/>
                    <span class="name">Chlorine</span>
                </td>
                <td class="element">
                    <span class="number">18</span><br/>
                    <span class="letter">Ar</span><br/>
                    <span class="name">Argon</span>
                </td>
            </tr>
            <tr>
                <td class="element">
                    <span class="number">19</span><br/>
                    <span class="letter">K</span><br/>
                    <span class="name">Potassium</span>
                </td>
                <td class="element">
                    <span class="number">20</span><br/>
                    <span class="letter">Ca</span><br/>
                    <span class="name">Calcium</span>
                </td>
                <td class="element">
                    <span class="number">21</span><br/>
                    <span class="letter">Sc</span><br/>
                    <span class="name">Scandium</span>
                </td>
                <td class="element">
                    <span class="number">22</span><br/>
                    <span class="letter">Ti</span><br/>
                    <span class="name">Titanium</span>
                </td>
                <td class="element">
                    <span class="number">23</span><br/>
                    <span class="letter">V</span><br/>
                    <span class="name">Vanadium</span>
                </td>
                <td class="element">
                    <span class="number">24</span><br/>
                    <span class="letter">Cr</span><br/>
                    <span class="name">Chromium</span>
                </td>
                <td class="element">
                    <span class="number">25</span><br/>
                    <span class="letter">Mn</span><br/>
                    <span class="name">Manganese</span>
                </td>
                <td class="element">
                    <span class="number">26</span><br/>
                    <span class="letter">Fe</span><br/>
                    <span class="name">Iron</span>
                </td>
                <td class="element">
                    <span class="number">27</span><br/>
                    <span class="letter">Co</span><br/>
                    <span class="name">Cobalt</span>
                </td>
                <td class="element">
                    <span class="number">28</span><br/>
                    <span class="letter">Ni</span><br/>
                    <span class="name">Nickel</span>
                </td>
                <td class="element">
                    <span class="number">29</span><br/>
                    <span class="letter">Cu</span><br/>
                    <span class="name">Copper</span>
                </td>
                <td class="element">
                    <span class="number">30</span><br/>
                    <span class="letter">Zn</span><br/>
                    <span class="name">Zinc</span>
                </td>
                <td class="element">
                    <span class="number">31</span><br/>
                    <span class="letter">Ga</span><br/>
                    <span class="name">Gallium</span>
                </td>
                <td class="element">
                    <span class="number">32</span><br/>
                    <span class="letter">Ge</span><br/>
                    <span class="name">Germanium</span>
                </td>
                <td class="element">
                    <span class="number">33</span><br/>
                    <span class="letter">As</span><br/>
                    <span class="name">Arsenic</span>
                </td>
                <td class="element">
                    <span class="number">34</span><br/>
                    <span class="letter">Se</span><br/>
                    <span class="name">Selenium</span>
                </td>
                <td class="element">
                    <span class="number">35</span><br/>
                    <span class="letter">Br</span><br/>
                    <span class="name">Bromine</span>
                </td>
                <td class="element">
                    <span class="number">36</span><br/>
                    <span class="letter">Kr</span><br/>
                    <span class="name">Krypton</span>
                </td>
            </tr>
            <tr>
                <td class="element">
                    <span class="number">37</span><br/>
                    <span class="letter">Rb</span><br/>
                    <span class="name">Rubidium</span>
                </td>
                <td class="element">
                    <span class="number">38</span><br/>
                    <span class="letter">Sr</span><br/>
                    <span class="name">Strontium</span>
                </td>
                <td class="element">
                    <span class="number">39</span><br/>
                    <span class="letter">Y</span><br/>
                    <span class="name">Yttrium</span>
                </td>
                <td class="element">
                    <span class="number">40</span><br/>
                    <span class="letter">Zr</span><br/>
                    <span class="name">Zirconium</span>
                </td>
                <td class="element">
                    <span class="number">41</span><br/>
                    <span class="letter">Nb</span><br/>
                    <span class="name">Niobium</span>
                </td>
                <td class="element">
                    <span class="number">42</span><br/>
                    <span class="letter">Mo</span><br/>
                    <span class="name">Molybdenum</span>
                </td>
                <td class="element">
                    <span class="number">43</span><br/>
                    <span class="letter">Tc</span><br/>
                    <span class="name">Technetium</span>
                </td>
                <td class="element">
                    <span class="number">44</span><br/>
                    <span class="letter">Ru</span><br/>
                    <span class="name">Ruthenium</span>
                </td>
                <td class="element">
                    <span class="number">45</span><br/>
                    <span class="letter">Rh</span><br/>
                    <span class="name">Rhodium</span>
                </td>
                <td class="element">
                    <span class="number">46</span><br/>
                    <span class="letter">Pd</span><br/>
                    <span class="name">Palladium</span>
                </td>
                <td class="element">
                    <span class="number">47</span><br/>
                    <span class="letter">Ag</span><br/>
                    <span class="name">Silver</span>
                </td>
                <td class="element">
                    <span class="number">48</span><br/>
                    <span class="letter">Cd</span><br/>
                    <span class="name">Cadmium</span>
                </td>
                <td class="element">
                    <span class="number">49</span><br/>
                    <span class="letter">In</span><br/>
                    <span class="name">Indium</span>
                </td>
                <td class="element">
                    <span class="number">50</span><br/>
                    <span class="letter">Sn</span><br/>
                    <span class="name">Tin</span>
                </td>
                <td class="element">
                    <span class="number">51</span><br/>
                    <span class="letter">Sb</span><br/>
                    <span class="name">Antimony</span>
                </td>
                <td class="element">
                    <span class="number">52</span><br/>
                    <span class="letter">Te</span><br/>
                    <span class="name">Tellurium</span>
                </td>
                <td class="element">
                    <span class="number">53</span><br/>
                    <span class="letter">I</span><br/>
                    <span class="name">Iodine</span>
                </td>
                <td class="element">
                    <span class="number">54</span><br/>
                    <span class="letter">Xe</span><br/>
                    <span class="name">Xenon</span>
                </td>
            </tr>
            <tr>
                <td class="element">
                    <span class="number">55</span><br/>
                    <span class="letter">Cs</span><br/>
                    <span class="name">Cesium</span>
                </td>
                <td class="element">
                    <span class="number">56</span><br/>
                    <span class="letter">Ba</span><br/>
                    <span class="name">Barium</span>
                </td>
                <td class="element">
                    <span class="number">57-71</span><br/>
                    <span class="letter">&nbsp;</span><br/>
                    <span class="name">&nbsp;</span>
                </td>
                <td class="element">
                    <span class="number">72</span><br/>
                    <span class="letter">Hf</span><br/>
                    <span class="name">Hafnium</span>
                </td>
                <td class="element">
                    <span class="number">73</span><br/>
                    <span class="letter">Ta</span><br/>
                    <span class="name">Tantalum</span>
                </td>
                <td class="element">
                    <span class="number">74</span><br/>
                    <span class="letter">W</span><br/>
                    <span class="name">Tungsten</span>
                </td>
                <td class="element">
                    <span class="number">75</span><br/>
                    <span class="letter">Re</span><br/>
                    <span class="name">Rhenium</span>
                </td>
                <td class="element">
                    <span class="number">76</span><br/>
                    <span class="letter">Os</span><br/>
                    <span class="name">Osmium</span>
                </td>
                <td class="element">
                    <span class="number">77</span><br/>
                    <span class="letter">Ir</span><br/>
                    <span class="name">Iridium</span>
                </td>
                <td class="element">
                    <span class="number">78</span><br/>
                    <span class="letter">Pt</span><br/>
                    <span class="name">Platinum</span>
                </td>
                <td class="element">
                    <span class="number">79</span><br/>
                    <span class="letter">Au</span><br/>
                    <span class="name">Gold</span>
                </td>
                <td class="element">
                    <span class="number">80</span><br/>
                    <span class="letter">Hg</span><br/>
                    <span class="name">Mercury</span>
                </td>
                <td class="element">
                    <span class="number">81</span><br/>
                    <span class="letter">Tl</span><br/>
                    <span class="name">Thallium</span>
                </td>
                <td class="element">
                    <span class="number">82</span><br/>
                    <span class="letter">Pb</span><br/>
                    <span class="name">Lead</span>
                </td>
                <td class="element">
                    <span class="number">83</span><br/>
                    <span class="letter">Bi</span><br/>
                    <span class="name">Bismuth</span>
                </td>
                <td class="element">
                    <span class="number">84</span><br/>
                    <span class="letter">Po</span><br/>
                    <span class="name">Polonium</span>
                </td>
                <td class="element">
                    <span class="number">85</span><br/>
                    <span class="letter">At</span><br/>
                    <span class="name">Astatine</span>
                </td>
                <td class="element">
                    <span class="number">86</span><br/>
                    <span class="letter">Rn</span><br/>
                    <span class="name">Radon</span>
                </td>
            </tr>
            <tr>
                <td class="element">
                    <span class="number">87</span><br/>
                    <span class="letter">Fr</span><br/>
                    <span class="name">Francium</span>
                </td>
                <td class="element">
                    <span class="number">88</span><br/>
                    <span class="letter">Ra</span><br/>
                    <span class="name">Radium</span>
                </td>
                <td class="element">
                    <span class="number">89-103</span><br/>
                    <span class="letter">&nbsp;</span><br/>
                    <span class="name">&nbsp;</span>
                </td>
                <td class="element">
                    <span class="number">104</span><br/>
                    <span class="letter">Rf</span><br/>
                    <span class="name">Rutherfordium</span>
                </td>
                <td class="element">
                    <span class="number">105</span><br/>
                    <span class="letter">Db</span><br/>
                    <span class="name">Dubnium</span>
                </td>
                <td class="element">
                    <span class="number">106</span><br/>
                    <span class="letter">Sg</span><br/>
                    <span class="name">Seaborgium</span>
                </td>
                <td class="element">
                    <span class="number">107</span><br/>
                    <span class="letter">Bh</span><br/>
                    <span class="name">Bohrium</span>
                </td>
                <td class="element">
                    <span class="number">108</span><br/>
                    <span class="letter">Hs</span><br/>
                    <span class="name">Hassium</span>
                </td>
                <td class="element">
                    <span class="number">109</span><br/>
                    <span class="letter">Mt</span><br/>
                    <span class="name">Meitnerium</span>
                </td>
                <td class="element">
                    <span class="number">110</span><br/>
                    <span class="letter">Ds</span><br/>
                    <span class="name">Darmstadtium</span>
                </td>
                <td class="element">
                    <span class="number">111</span><br/>
                    <span class="letter">Rg</span><br/>
                    <span class="name">Roentgenium</span>
                </td>
                <td class="element">
                    <span class="number">112</span><br/>
                    <span class="letter">Cn</span><br/>
                    <span class="name">Copernicium</span>
                </td>
                <td class="element">
                    <span class="number">113</span><br/>
                    <span class="letter">Nh</span><br/>
                    <span class="name">Nihonium</span>
                </td>
                <td class="element">
                    <span class="number">114</span><br/>
                    <span class="letter">Fl</span><br/>
                    <span class="name">Flerovium</span>
                </td>
                <td class="element">
                    <span class="number">115</span><br/>
                    <span class="letter">Mc</span><br/>
                    <span class="name">Moscovium</span>
                </td>
                <td class="element">
                    <span class="number">116</span><br/>
                    <span class="letter">Lv</span><br/>
                    <span class="name">Livermorium</span>
                </td>
                <td class="element">
                    <span class="number">117</span><br/>
                    <span class="letter">Ts</span><br/>
                    <span class="name">Tennessine</span>
                </td>
                <td class="element">
                    <span class="number">118</span><br/>
                    <span class="letter">Og</span><br/>
                    <span class="name">Oganesson</span>
                </td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            <tr>
                <td class="noBorder"></td>
            </tr>
            
            <tr>
                <td class="noBorder" colspan="2" rowspan="2"></td>
                <td class="element">
                    <span class="number">57</span><br/>
                    <span class="letter">La</span><br/>
                    <span class="name">Lanthanum</span>
                </td>
                <td class="element">
                    <span class="number">58</span><br/>
                    <span class="letter">Ce</span><br/>
                    <span class="name">Cerium</span>
                </td>
                <td class="element">
                    <span class="number">59</span><br/>
                    <span class="letter">Pr</span><br/>
                    <span class="name">Praseodymium</span>
                </td>
                <td class="element">
                    <span class="number">60</span><br/>
                    <span class="letter">Nd</span><br/>
                    <span class="name">Neodymium</span>
                </td>
                <td class="element">
                    <span class="number">61</span><br/>
                    <span class="letter">Pm</span><br/>
                    <span class="name">Promethium</span>
                </td>
                <td class="element">
                    <span class="number">62</span><br/>
                    <span class="letter">Sm</span><br/>
                    <span class="name">Samarium</span>
                </td>
                <td class="element">
                    <span class="number">63</span><br/>
                    <span class="letter">Eu</span><br/>
                    <span class="name">Europium</span>
                </td>
                <td class="element">
                    <span class="number">64</span><br/>
                    <span class="letter">Gd</span><br/>
                    <span class="name">Gadolinium</span>
                </td>
                <td class="element">
                    <span class="number">65</span><br/>
                    <span class="letter">Tb</span><br/>
                    <span class="name">Terbium</span>
                </td>
                <td class="element">
                    <span class="number">66</span><br/>
                    <span class="letter">Dy</span><br/>
                    <span class="name">Dysprosium</span>
                </td>
                <td class="element">
                    <span class="number">67</span><br/>
                    <span class="letter">Ho</span><br/>
                    <span class="name">Holmium</span>
                </td>
                <td class="element">
                    <span class="number">68</span><br/>
                    <span class="letter">Er</span><br/>
                    <span class="name">Erbium</span>
                </td>
                <td class="element">
                    <span class="number">69</span><br/>
                    <span class="letter">Tm</span><br/>
                    <span class="name">Thulium</span>
                </td>
                <td class="element">
                    <span class="number">70</span><br/>
                    <span class="letter">Yb</span><br/>
                    <span class="name">Ytterbium</span>
                </td>
                <td class="element">
                    <span class="number">71</span><br/>
                    <span class="letter">Lu</span><br/>
                    <span class="name">Lutetium</span>
                </td>
                <td class="noBorder" colspan="1" rowspan="1"></td>     
            </tr>
            <tr>

                <td class="element">
                    <span class="number">89</span><br/>
                    <span class="letter">Ac</span><br/>
                    <span class="name">Actinium</span>
                </td>
                <td class="element">
                    <span class="number">90</span><br/>
                    <span class="letter">Th</span><br/>
                    <span class="name">Thorium</span>
                </td>
                <td class="element">
                    <span class="number">91</span><br/>
                    <span class="letter">Pa</span><br/>
                    <span class="name">Protactinium</span>
                </td>
                <td class="element">
                    <span class="number">92</span><br/>
                    <span class="letter">U</span><br/>
                    <span class="name">Uranium</span>
                </td>
                <td class="element">
                    <span class="number">93</span><br/>
                    <span class="letter">Np</span><br/>
                    <span class="name">Neptunium</span>
                </td>
                <td class="element">
                    <span class="number">94</span><br/>
                    <span class="letter">Pu</span><br/>
                    <span class="name">Plutonium</span>
                </td>
                <td class="element">
                    <span class="number">95</span><br/>
                    <span class="letter">Am</span><br/>
                    <span class="name">Americium</span>
                </td>
                <td class="element">
                    <span class="number">96</span><br/>
                    <span class="letter">Cm</span><br/>
                    <span class="name">Curium</span>
                </td>
                <td class="element">
                    <span class="number">97</span><br/>
                    <span class="letter">Bk</span><br/>
                    <span class="name">Berkelium</span>
                </td>
                <td class="element">
                    <span class="number">98</span><br/>
                    <span class="letter">Cf</span><br/>
                    <span class="name">Californium</span>
                </td>
                <td class="element">
                    <span class="number">99</span><br/>
                    <span class="letter">Es</span><br/>
                    <span class="name">Einsteinium</span>
                </td>
                <td class="element">
                    <span class="number">100</span><br/>
                    <span class="letter">Fm</span><br/>
                    <span class="name">Fermium</span>
                </td>
                <td class="element">
                    <span class="number">101</span><br/>
                    <span class="letter">Md</span><br/>
                    <span class="name">Mendelevium</span>
                </td>
                <td class="element">
                    <span class="number">102</span><br/>
                    <span class="letter">No</span><br/>
                    <span class="name">Nobelium</span>
                </td>
                <td class="element">
                    <span class="number">103</span><br/>
                    <span class="letter">Lr</span><br/>
                    <span class="name">Lawrencium</span>
                </td>
            </tr>

        </table>
    </center>
</body>
